body {
  background-image: url("https://wallpaperaccess.com/full/37946.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: white;
}
.is-primary{
  background: #333 !important;
  color: #fff;
}
.tutorial {
  width: 600px;
  text-align: center;
  margin: auto;
}
input {
  border: none !important;
  outline: none !important;
  border-bottom: 2px #a0b3c5 solid !important;
  transform-origin: left;
  transition-property: border;
  transition-timing-function: ease-in-out;
  transition-duration: .4s;
  background: rgba(255, 255, 255,.5) !important;
}
input:focus {
  border-bottom: 2px #003A70 solid !important;
  background-color: #fff !important;
}
h1,
.media-content{
  color: #fff !important;
}

figure.image {
  display: flex;
  justify-content: center;
  background-color: black;
}

figure .image img {
  width: 128px;
}

.notification {
  margin-top: 20px !important;
}

.results {
  max-height: 500px;
  overflow-y: scroll;
}

.title .icon {
  margin-left: 15px;
}

.hero {
  margin-bottom: 20px;
}

.forms {
  display: flex;
  justify-content: space-around;
}

.dropdown-item {
  display: flex;
  align-items: center;
  height: 60px;
}

.dropdown-item img {
  height: 50px;
  margin-right: 10px;
}

.hero-body {
    padding: .5rem 1.5rem;
}
.title {
 
  font-size: 1rem;
  
}